html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
    scroll-behavior: smooth;
}

* {
    animation: fadein 1s;
}

header {
    height: 15vh;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

main {
    padding: 5vh 5%;
    font-family: 'Sulphur Point', sans-serif;
}

button.start {
    width: 20%;
    height: 8vh;
    margin: 20vh 40%;
    font-size: 20px;
    background-color: white;
    color: grey;
    border: 0;
    transition: ease 0.5s;
}

button.start:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
}

div.divAsks {
    text-align: center;
}

div.panel {
    margin-top: 30vh;
    height: 40vh;
    text-align: center;
}

div.global {
    display: flex;
}

div.enemy, div.hero, div.powers, div.log {
    width: 50%;
}

div.fight {
    display: flex;
}

div.log {
    height: 20vh;
    overflow: auto;
}

h2 {
    font-size: 30px;
}

button.buttonChoice {
    height: 6vh;
    width: 10%;
    font-size: 15px;
    margin: 0 2%;
    background-color: white;
    color: grey;
    border: 0;
    transition: ease 0.5s;
}

button.buttonChoice:nth-child(1):hover {
    background-color: green;
    color: white;
    transition: ease 0.5s;
}

button.buttonChoice:nth-child(2):hover {
    background-color: red;
    color: white;
    transition: ease 0.5s;
}

button.power {
    width: 10%;
}

button {
    font-family: 'Sulphur Point', sans-serif;
}

p {
    clear: right;
}

p.heroAnswer {
    color: lightyellow;
    float: right;
    clear: right;
}

p.context {
    font-style: italic;
}

input {
    background-color: darkgrey;
    color: white;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}