html, body {
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
    scroll-behavior: smooth;
}

* {
    animation: fadein 1s;
}

header {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    background: grey;
}

main {
    margin-top: 15vh;
    padding: 5vh 5% 2vh 5%;
    font-family: 'Sulphur Point', sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
    letter-spacing: 20px;
    text-shadow: 5px 5px darkblue;
}

button.start {
    width: 20%;
    height: 8vh;
    margin: 20vh 40%;
    font-size: 20px;
    background-color: white;
    color: grey;
    border: 0;
    transition: ease 0.5s;
}

button.start:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
}

div.divAsks {
    text-align: center;
}

div.panel {
    margin-top: 30vh;
    height: 40vh;
    text-align: center;
}

div.global {
    display: flex;
}

div.enemy, div.hero, div.powers, div.log {
    width: 50%;
}

div.powers {
    margin-top: 2vh;
}

div.enemy {
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
    color: white;
}

ul {
    list-style-type: cjk-ideographic;
}

div.hero {
    background: linear-gradient(to left bottom, #f85032 50%, #e73827 50%);
}

div.fight {
    display: flex;
}

div.log {
    height: 20vh;
    overflow: auto;
}

h2 {
    font-size: 30px;
}

button {
    width: 30%;
    height: 8vh;
    font-family: 'Sulphur Point', sans-serif;
    background-color: darkgrey;
    color: white;
    font-size: 17px;
    transition: ease 1s;
    border: 0;
}

button:hover {
    color: darkgrey;
    background-color: white;
    transition: ease 1s;
}

button.power, button.choice {
    margin: 4vh 1%;
}

button.buttonChoice {
    height: 6vh;
    width: 10%;
    font-size: 15px;
    margin: 0 2%;
    background-color: white;
    color: grey;
    border: 0;
    transition: ease 0.5s;
}

button.continuer {
    margin-top: 2vh;
}

button.buttonChoice:nth-child(1):hover {
    background-color: green;
    color: white;
    transition: ease 0.5s;
}

button.buttonChoice:nth-child(2):hover {
    background-color: red;
    color: white;
    transition: ease 0.5s;
}

p {
    clear: right;
}

p.heroAnswer {
    color: lightyellow;
    float: right;
    clear: right;
}

p.context {
    font-style: italic;
}

input {
    background-color: darkgrey;
    color: white;
    border: 2px solid grey;
    height: 3vh;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}